<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B1</key>
	<string>ffde1d</string>
	<key>B2</key>
	<string>d1e7fc</string>
	<key>B3</key>
	<string>f1f1f2</string>
	<key>T1</key>
	<string>222222</string>
	<key>T2</key>
	<string>aaabad</string>
	<key>T3</key>
	<string>a1a1a2</string>
</dict>
</plist>
